body{
    background-color: #FAFAFA;
    color: #3E3A39;
}
.w900{
    width: 900px;
    margin: 0 auto;
}
.w1000{
    width: 1000px;
    margin: 0 auto;
}
.w1200{
    width: 1200px;
    margin: 0 auto;
}
.title{
    margin: 40px 0;
}
.line>div{
    width: 100%;
}
.line>div>:first-child{
    width: 100%;
    height: 20px;
    background-color: #39B9E5;
    transform: skewY(-2.3deg);
    margin-bottom: 15px;
}
.line>div>:nth-child(3){
    width: 90%;
    height: 20px;
    background-color: #FFEC00;
    transform: skewY(-2.3deg);
    margin-left: 10%;
}
.title>div{
    background-image: url(../img/title.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 140px;
}
.title>div>h1{
    text-align: center;
    font-size: 30px;
    line-height: 140px;
    letter-spacing: 6px;
    color: #036EB3;
    font-weight: 600;
}
header{
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 152px 0px;
}
header>div:first-of-type{
    position: absolute;  
}
header>div:first-of-type{
    top: 0;
    left: 10%;
}
header>div:nth-of-type(2) img{
    width: 800px;
    height: auto;
}
header>div:nth-of-type(2){
    width: 800px;
    height: auto;
    margin: 100 auto;
    margin-top: 200px;
}
header>div:nth-of-type(3) img{
    width: 290px;
    height: auto;
}
header>div:nth-of-type(3){
    width: 290px;
    height: auto;
    margin: 100 auto;
}

main>div:first-of-type>div:first-child{
    margin: 100px auto;
    line-height: 2;
    font-size: 18px;
    letter-spacing: 4px;
}
main>div:first-of-type>div p em{
    font-size: 24px;
    color: #036EB3;
}
main>div:first-of-type>div:nth-of-type(2){
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
main>div:first-of-type>div:nth-of-type(2) img{
    width: 105%;
    height: auto;
}
main>div:nth-of-type(2){
    margin: 100px 0; 
}
main>div:nth-of-type(2)>div>:nth-child(2){
    margin: 50px auto;
    text-align: center;
    line-height: 3;
    font-size: 24px;
    letter-spacing: 2px;
    color: #036EB3;
    transform: skewX(-10deg);
}
main>div:nth-of-type(2)>div>:nth-child(2) em{
    background-color: #036EB3;
    color: #f5f5f5;
    padding: 6px 10px;
    margin-right: 10px;
    transform: skewX(-10deg);
}
main>div:nth-of-type(2)>div>:nth-child(3) ul{
    display: flex;
    justify-content: space-around;   
    letter-spacing: 2px;
    margin: 160px auto 60px;
}
main>div:nth-of-type(2)>div>:nth-child(3) ul li div{
    position: relative;
}
main>div:nth-of-type(2)>div>:nth-child(3) ul li div p,
main>div:nth-of-type(2)>div>:nth-child(3) ul li div h2{
    position: absolute;
}
main>div:nth-of-type(2)>div>:nth-child(3) ul li div p{
    bottom: 50px;
    font-size: 16px;
    color: #FFEC00;
    width: 100%;
    text-align: center;
}
main>div:nth-of-type(2)>div>:nth-child(3) ul li div h2{
    bottom: 20px;
    font-size: 24px;
    color: #fff;
    width: 100%;
    text-align: center;
}

main>div:nth-of-type(4)>div{
    text-align: center;
    margin: 160px auto;
    line-height: 1.5;
}
main>div:nth-of-type(4)>div>div:nth-of-type(2){
    margin: 24px 0;
}
main>div:nth-of-type(4)>div>div:nth-of-type(2) p{
    font-size: 20px;
    letter-spacing: 3px;  
}
main>div:nth-of-type(4)>div>div:nth-of-type(2) em{
    font-size: 36px;
    letter-spacing: 3px;  
    color: #036EB3;
}
main>div:nth-of-type(4)>div>div:nth-of-type(2) a{
    display: inline-block;
    padding: 8px 24px;
    color: #fff;
    background-color: #39B9E5;
    margin: 20px auto;
}
main>div:nth-of-type(4)>div>div:nth-of-type(2) a i{
    margin-left: 16px;
}
main>div:nth-of-type(4)>div>div:nth-of-type(3){
    color: #39B9E5;
    line-height: 3;
    width: 400px;
    height: 180px;
    margin: 80px auto;
    padding: 16px 24px;
    display: block;
    border: 2px #39B9E5 solid;
}
main>div:nth-of-type(5),main>div:nth-of-type(7){
    background:linear-gradient(0deg, rgba(149, 231, 255, 1)25%, rgba(57, 152, 229, 1)90%);
    width: 100%;  
    transform: skewY(-2.3deg);
    padding: 100px 0;
}
main>div:nth-of-type(5){
    margin: 100px auto;
}
main>div:nth-of-type(5)>div>div:first-child h2,
main>div:nth-of-type(7) div:first-child h2{
    font-size: 30px;
    display: inline-block;
    text-align: center;
    padding: 18px 24px;
    transform: skewY(2.3deg);
    letter-spacing: 3px;
    background-color: #FFEC00; 
}
main>div:nth-of-type(5)>div>div:first-child h2,
main>div:nth-of-type(7) div:first-child h2{
    display:block;
    width: 150px;
    margin-left: calc(50% - 99px);
}
main>div:nth-of-type(5)>div>div:nth-of-type(2),
main>div:nth-of-type(7) div:nth-of-type(2){
    margin:80px auto;
    padding: 80px 20px;
    background-color: #F3F3F3;
    transform: skewY(2.3deg);
    box-shadow: 0px 14px 7px rgba(0, 0, 0, 0.3);
}
main>div:nth-of-type(5)>div>div:nth-of-type(2) ul {
    display: flex;
}
main>div:nth-of-type(5)>div>div:nth-of-type(2) ul li div{
    padding: 0 20px;
}
main>div:nth-of-type(5)>div>div:nth-of-type(2) ul li div iframe {
    width: 500px;
    height: 310px;
}
main>div:nth-of-type(5)>div>div:nth-of-type(2) ul li div h3{
    text-align: center;
    margin: 60px 0;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: #39B9E5;
    padding: 10px 18px;
    display: inline-block;
    color: #fff;
    margin-left: calc(50% - 58px);
}
main>div:nth-of-type(6){
    margin: 150px 0;
}
main>div:nth-of-type(6)>div:first-child{
    width: 800px;
    margin: 0 auto;
}
main>div:nth-of-type(6)>div:first-child img{
    width: 100%;
    height: auto;
}
main>div:nth-of-type(6)>div:nth-of-type(2){
    margin: 40px auto;
    text-align: center;
}
main>div:nth-of-type(6)>div:nth-of-type(2){
    line-height: 1.5;
}
main>div:nth-of-type(6)>div:nth-of-type(2) em{
    color:#39B9E5;
    font-size: 24px; 
}
main>div:nth-of-type(6)>div:nth-of-type(2) strong{
    font-size: 18px;
    background-color: #FFEC00;
    padding: 8px 16px;
    transform: skewX(-10deg);
    display: inline-block;
}

main>div:nth-of-type(7)>div:nth-of-type(2){
    line-height: 2.5;
    font-size: 16px;
    letter-spacing: 2px;
}
main>div:nth-of-type(7)>div:nth-of-type(2) p{
    display: inline-block;
    width: 20%;
    color: #036EB3;
}
main>div:nth-of-type(7)>div:nth-of-type(2) input{
    width: 78%;
    display: inline-block;
}
main>div:nth-of-type(7)>div:nth-of-type(2) input:last-child{
    width: 78%;
    height: 20px;
}
main>div:nth-of-type(8){
    margin: 60px 0;
}
main>div:nth-of-type(8) ul li i{
    font-size: 40px;
    color: #39B9E5;
}
main>div:nth-of-type(8) ul{
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin: 30px auto;}
footer{
    background-color: #009BE4;
    text-align: center;
    padding: 40px 0;
    font-size: 14px;
}
footer>div:first-child {
    display: flex;
    justify-content: space-around;
    margin: 8px auto;
}
footer>div:first-child p{
    display: inline-block;
}

@media screen and (max-width:600px){
    .w900{
        width: 390px;
        margin: 0 auto;
    }
    .w1000{
        width: 460px;
        margin: 0 auto;
    }
    .w1200{
        width: 500px;
        margin: 0 auto;
    }
    .title>div{
        background-position: center;
        background-size: contain;
        height: 100px;
    }
    .title>div>h1{
        text-align: center;
        font-size: 24px;
        line-height: 120px;
        letter-spacing: 2px;
    }
    header{
        background-position: center;
        background-repeat: no-repeat;
        padding: 110px 0px;
        width: 100%
    }
    header>div:nth-of-type(1) img{
        width: 70px;
    } 
    header>div:nth-of-type(2) img{
        width:500px;
    }
    header>div:nth-of-type(2){
        width:500px;
        margin-top: 130px;
    }
    header>div:nth-of-type(3) img{
        width: 180px;
        height: auto;
    }
    header>div:first-of-type{
        top: 0;
        left: 6%;
    }
    main>div:first-of-type>div:first-child{
        margin: 60px auto;
        letter-spacing: 2px;
        font-weight: 300;
        font-size: 14px;        
    }
    main>div:first-of-type>div p em{
        font-size: 18px;
    }
    main>div:first-of-type>div:nth-of-type(2) img{
        width: 150%;
    }
    main>div:nth-of-type(2)>div>:nth-child(2){
        font-size: 17px;
        letter-spacing: 2px;
    }
    main>div:nth-of-type(2)>div>:nth-child(3) ul{
        flex-wrap: wrap;
        margin: 100px auto;
    }
    main>div:nth-of-type(2)>div>:nth-child(3) ul li div {
        width: 220px;
        margin: 15px;
    }
    main>div:nth-of-type(2)>div>:nth-child(3) ul li div img{
        width: 100%;
    }
    main>div:nth-of-type(2)>div>:nth-child(3) ul li div p{
        bottom: 45px;
        font-size: 14px;
    }
    main>div:nth-of-type(2)>div>:nth-child(3) ul li div h2{
        font-size: 20px;
    }
    main>div:nth-of-type(4)>div{
        margin: 100px auto;
    }
    main>div:nth-of-type(4)>div>div:nth-of-type(2) p{
        font-size: 16px;
        letter-spacing: 5px;
    }
    main>div:nth-of-type(4)>div>div:nth-of-type(2) em{
        font-size: 26px;
    }
    main>div:nth-of-type(4)>div>div:nth-of-type(3){
        line-height: 2;
        width: 400px;
        height: 130px;
        margin: 40px auto;
    }
     main>div:nth-of-type(4)>div>div:nth-of-type(4){
         width: 100%;
         margin: 0 auto;
    }
     main>div:nth-of-type(4)>div>div:nth-of-type(4) img{
         width: 100%;
    }
    main>div:nth-of-type(5)>div>div:first-child h2,
    main>div:nth-of-type(7) div:first-child h2{
        font-size: 20px;
        padding: 16px;
    }
    main>div:nth-of-type(5)>div>div:nth-of-type(2),
    main>div:nth-of-type(7) div:nth-of-type(2){
        margin:30px auto;
        padding: 46px 20px;
    }
    main>div:nth-of-type(5)>div>div:nth-of-type(2) ul {
        justify-content: space-around;
        flex-flow: column;
    }
    main>div:nth-of-type(5)>div>div:nth-of-type(2) ul li div{
        padding: 0 30px;
    }
    main>div:nth-of-type(5)>div>div:nth-of-type(2) ul li div iframe {
        width: 400px;
        height: 220px;
    }
    main>div:nth-of-type(6)>div:first-child{
        width: 500px;
        margin: 0 auto;
    }
    main>div:nth-of-type(6)>div:first-child img{
        width: 100%;
        height: auto;
    }
    main>div:nth-of-type(6)>div:nth-of-type(2){
        width: 85%;
        margin: 40px auto;
        text-align: center;
        font-size: 14px;  
    }
    main>div:nth-of-type(6)>div:nth-of-type(2) em{
        font-size: 20px; 
    }
    main>div:nth-of-type(7)>div:nth-of-type(2){
        font-size: 12px;
    }
    main>div:nth-of-type(7)>div:nth-of-type(2) p{
        display: inline-block;
        width: 100%;
    }
    main>div:nth-of-type(7)>div:nth-of-type(2) input{
        display: inline-block;
        width: 100%;
    }
    footer{
        padding: 20px 0;
    }    
    footer>div:first-child {
        line-height: 1.5;
        margin: 8px auto;
        font-size: 7px;
        display: inline-block;
    }
    footer>div:first-child p{
        margin: 0 10px;
    }
    footer>div:nth-of-type(2) {
        margin: 0 auto;
        font-size: 10px;
        line-height: 1.5;
    }
}
